<!DOCTYPE html>
<html>
<head>
        {% load static %}
	<title>Terms and Conditions</title>
	<link rel="stylesheet" href="{% static 'terms.css' %}">
	<script src="https://kit.fontawesome.com/e19f868bf2.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
        <h1>Terms and Conditions</h1>
      <h3>Last updated: April 23, 2022</h3>

 <strong>Please read these Terms and Conditions carefully before using the C&3G website operated by us.</strong>

<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. </p>

 <h2>Purchases</h2>

<p>If you wish to purchase any product or service made available through the Service, you may be asked to supply certain information relevant to your Purchase that includes, but not limited to, your name, address, and phone number. </p>

 <h2>Links To Other Web Sites</h2>

<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by C&3G.

C&3G has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that C&3G shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services. </p>

<h2>Changes</h2>
<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30  days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

</p>
            <a href="{% url 'login' %}" class="button" type="button">Accept</a>
    </div>
</body>
</html>